<ion-header [translucent]="true">

  <ion-toolbar id="app-header-toolbar">
    <ion-title>
      <ion-icon name="chatbubbles-sharp"></ion-icon>
      Microblogging
    </ion-title>
  </ion-toolbar>

  <ion-toolbar id="app-subheader-toolbar">
    <ion-buttons slot="start">
      @if (authService.isAuthenticated()) {
        <ion-button type="button" (click)="onProfileClick()" aria-label="Ver perfil">
          <div class="header-avatar">{{ authService.getUsername().charAt(0).toUpperCase() }}</div>
        </ion-button>
      } @else {
        <ion-button type="button" fill="outline" (click)="onProfileClick()" class="login-btn">
          <span class="button-label">Ingresar</span>
          <ion-icon name="log-in-outline" class="btn-icon"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
    <ion-title>
      {{ pageTitle$ | async }}
    </ion-title>
    <ion-buttons slot="end">
      @if (authService.isAuthenticated()) {
        <ion-button type="button" fill="outline" (click)="onLogout()" class="logout-btn">
          <ion-icon name="log-out-outline" class="btn-icon"></ion-icon>
          <span class="button-label">Cerrar sesión</span>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>

</ion-header>
