# =====================================================================
# MICROBLOGGING SYSTEM — Producción
# =====================================================================

# DockerHub namespace
DOCKERHUB_NAMESPACE=ijgutierrez

# SMTP (Gmail)
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_SMTP_STARTTLS_REQUIRED=true
MAIL_HEALTH_ENABLED=false
MAIL_FROM=
MAIL_BASE_URL=

# Frontend URL (para links en emails como activación)
FRONTEND_BASE_URL=

# JWT Secret
JHIPSTER_SECURITY_AUTHENTICATION_JWT_BASE64_SECRET=

# MariaDB
MARIADB_DATABASE=blog
MARIADB_USER=blog
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=

# Backend (Spring Boot)
SPRING_DATASOURCE_USERNAME=blog
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/blog?useLegacyDatetimeCode=false
SPRING_LIQUIBASE_URL=jdbc:mariadb://mariadb:3306/blog?useLegacyDatetimeCode=false
_JAVA_OPTIONS=-Xmx512m -Xms256m
