<ion-tabs>

  <ion-tab-button tab="post" class="tab-add" style="height: max-content;">
    <ion-icon name="add-circle-sharp"></ion-icon>
  </ion-tab-button>

  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home" routerLink="/app/feed" routerLinkActive="tab-selected" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="empty" style="padding-inline:10px">
    </ion-tab-button>
    <ion-tab-button tab="search" routerLink="/app/search" routerLinkActive="tab-selected" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="search-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>