ion-tab-bar {
  --color-selected: var(--ion-color-navbar-selected);
  --color: var(--ion-color-navbar-button);
  --background: var(--ion-text-color);
  height: 50px;
  border-radius: 35px;
  margin: 0 20px 20px 20px;
  
  ion-tab-button { 
    ion-icon {
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
    }
  }
}

.tab-add {
  --color-selected: var(--ion-color-navbar-selected);
  --color: var(--ion-color-navbar-button);
  --background: transparent;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  z-index: 100;

  ion-icon {
    font-size: 5.4rem;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
  }
}