<ion-card>
  <ion-card-header>
    <div class="author-row">
      <button class="author-avatar" (click)="onUserClick()">
        {{ (post().blog.user?.login ?? post().blog.handle).charAt(0).toUpperCase() }}
      </button>
      <button class="author-info" (click)="onUserClick()">
        <span class="author-name">@{{ post().blog.user?.login }}</span>
      </button>
      <span class="time-text">
        <ion-icon name="time-outline"></ion-icon>
        {{ post().date | date: 'short' }}
      </span>
      @if (showActions()) {
        <ion-button
          [id]="actionsTriggerId"
          class="actions-button"
          fill="clear"
          aria-label="Opciones del post"
          (click)="$event.stopPropagation()"
        >
          <ion-icon name="ellipsis-vertical-sharp" slot="icon-only"></ion-icon>
        </ion-button>
      }
    </div>
  </ion-card-header>

  <ion-card-content>
    <ion-card-title>{{ post().title }}</ion-card-title>

    <ion-text>
      <p>{{ post().content }}</p>
    </ion-text>

    <div class="post-footer">
      <div class="tags">
        @if (post().tags && post().tags!.length > 0) {
          @for (tag of post().tags; track tag.id) {
            <button class="tag-badge" (click)="onTagClick(tag)">#{{ tag.name }}</button>
          }
        }
      </div>
      <button class="blog-chip" (click)="onBlogClick()">{{ post().blog.name }}</button>
    </div>
  </ion-card-content>

  @if (showActions()) {
    <ion-popover
      #actionsPopover
      class="post-actions-popover"
      [trigger]="actionsTriggerId"
      triggerAction="click"
      side="bottom"
      alignment="end"
      [showBackdrop]="false"
      [backdropDismiss]="true"
    >
      <ng-template>
        <button type="button" class="action-button delete-button" (click)="actionsPopover.dismiss(); requestDelete($event)">
          <ion-icon name="trash-outline"></ion-icon>
          <span>Eliminar post</span>
        </button>
      </ng-template>
    </ion-popover>
  }
</ion-card>
